#
# Mucse network device configuration
#

config NET_VENDOR_MUCSE
	bool "Mucse devices"
	default y
	---help---
	If you have a network (Ethernet) card belonging to this class, say Y

if NET_VENDOR_MUCSE

config RNP
	tristate "Mucse(R) two-ports 10/40GbE PCI-Express adapters support"
	depends on PCI
	default m
	---help---
	This driver supports Mucse 2port 10/40 Gigabit PCI Express Network adapters.
	To compile this driver as a module, choose M here. The module
	will be called rnp.

config MXGBE
	tristate "Mucse(R) four-ports 10GbE PCI-Express Network Driver"
	depends on PCI
	default n
	---help---
	This driver supports Mucse 4port 10 Gigabit N500 PCI Express Network adapters.
	To compile this driver as a module, choose N here. The module
	will be called rnp.

config RNP_DCB
	bool "Data Center Bridging (DCB) Support"
	default n
	depends on RNP && DCB
	---help---
	Say Y here if you want to use Data Center Bridging (DCB) in the
	driver.

	If unsure, say N.

config RNPVF
	tristate "Mucse(R) 10/40GbE PCI-Express Virtual Function support"
	depends on PCI
	default m
	---help---
	This driver supports 10/40 Gigabit PCI Express Virtual Function.
	To compile this driver as a module, choose M here. The module
	will be called rnpvf.

config RNPM
	tristate "Mucse(R) multi-ports 10/40GbE PCI Express adapters support"
	depends on PCI
	default m
	---help---
	This driver supports Mucse 2/4/8port 10/40 Gigabit PCI
	Express adapters.
	To compile this driver as a module, choose M here. The module
	will be called rnpm.

config RNPM_DCB
	bool "Data Center Bridging (DCB) Support"
	default n
	depends on RNPM && DCB
	---help---
	Say Y here if you want to use Data Center Bridging (DCB) in the
	driver.

	If unsure, say N.
endif # NET_VENDOR_MUCSE
